extends layout 
block content
	.single_wrap
		h1= variables.MARRIAGE_REGISTRATION_PAGE_TITLE
		p Certificate generation goes here.
		p বরের নামঃ #{marriage.husband_name}
		p কন্যার নামঃ #{marriage.wife_name}