mixin regForm()
	form.form(action='/register' method='POST')
		
		label(for='username') ইউজারনেম:
		input(type='text' name='username' )
		label(for='email') ইমেইল:
		input(type='email' name='email')
		label(for='password') পাসওয়ার্ড:
		input(type='password' name='password' )
		label(for='password-confirm') পাসওয়ার্ড আরেকবার দিন:
		input(type='password' name='password-confirm' )
		input(type='submit' class='button' value='একাউন্ট তৈরী করুন')
